@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

.dark {
  --background: 229, 84%, 5%;
  --foreground: hsl(0, 0%, 100%);

  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;

  --secondary: #292626;
  --secondary-foreground: 210 40% 98%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1 {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

h2 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

h3 {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.bg-mesh {
  background: url("/MeshLight.svg");
  background-size: cover;
  background-position: center;
}

.dark .bg-mesh {
  background: url("/MeshDark.svg");
  background-size: cover;
  background-position: center;
}

* {
  scroll-behavior: smooth;
}
html {
  height: 100%;
}

body {
  height: calc(100% - 72px);
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  color: black;
  border: 1px solid #8b5cf6;
}
table tr:first-child {
  background: linear-gradient(to right, #8b5cf6, #6366f1);
}
table th {
  padding: 10px 15px;
  color: #fff;
  text-align: left;
  vertical-align: middle;
}

table td {
  padding: 10px 15px;
  background: #f8fafc;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #e8e8e8;
}

table td:not(:first-child) {
  border-left: 1px solid #e8e8e8;
}

table tr:last-child td {
  border-bottom: none;
}

/* This will make the table corners rounded */
table {
  border-radius: 5px;
  overflow: hidden;
}
html.dark table {
  color: white;
}

html.dark table td {
  background: #1e293b;
  border-bottom: 1px solid #334155;
}
html.dark table td:not(:first-child) {
  border-left: 1px solid #334155;
}

@media print {
  table {
    border: 1px solid black;
    color: black;
  }
  table th {
    color: black;
    border-bottom: 1px solid black;
  }
}

table.features {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #e8e8e8;
}

html.dark table.features {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid rgb(15 23 42);
}

table.features td {
  padding: 10px 15px;
  background: transparent;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #e8e8e8;
}
html.dark table.features td {
  background: transparent;
  border-bottom: 1px solid rgb(15 23 42);
}

table.features tr:first-child {
  background: transparent;
}
html.dark table.features td:not(:first-child) {
  border-left: 1px solid rgb(15 23 42);
}
